
*{
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	font-family: 'Dongle', sans-serif;
	font-weight: bolder;
}
.top-container{
	
	width: auto;
	padding: 2px;
  background: linear-gradient(180deg, #E3E8AF 0%, rgba(230, 176, 176, 0.947259) 10.73%, rgba(229, 231, 153, 0.898519) 27.4%, rgba(226, 178, 178, 0.852825) 43.02%, rgba(223, 219, 126, 0.46764) 48.23%, rgba(213, 186, 186, 0.53) 61.77%, rgba(212, 186, 186, 0.455208) 99.99%, rgba(196, 196, 196, 0) 100%);
;
	

	
}

.title1{
	font-size: 150%;
	font-weight:bolder;
	color: blueviolet;
	letter-spacing: .4em;
	
	font-family: 'Pacifico', cursive;
	text-transform: capitalize;
}
.upper{
	width: 100%;
	text-align: right;
	position: relative;
	
	
	
}
.lower{
	margin-top: 15px;
	width: auto;

}



.img1{
    
	width: 10%;
	height: 10%;
	
	margin-top: 4%;
	margin-right: 15%;


}
.img2{
	
	
	padding: 20px 0px;
	width: 15%;
	height: 15%;
	position: absolute;
	left: 20%;
	

	}


.img3{
	margin-top: 8%;
	width: 100%;


 height: 60vh;

}
.img4{
	padding: 20px 0px;
	width: 22%;
	height: 22%;
	position: absolute;
	bottom: 19%;
	right: 18%;

}

.explore{
	font-size: 200%;
		font-family: 'Pacifico', cursive;

	top: 59%;
	left :30%;
	right: 30%;
	bottom: 30%;
	animation: bounce;
	  animation-duration:5s; /* don't forget to set a duration! */
	  animation-iteration-count: infinite;
	position: absolute;
	color: #00A19D;
 	
}

.explore:hover{

}


.namearea{
	font-family: 'Pacifico', cursive;
	font-size: 300%;
	text-shadow: 3px 3px #ffffff;
	font-weight: bolder;
	margin-top: 100px;


}
.name{
	font-size: 100%;
    font-family: 'Sacramento', cursive;
   text-shadow: 2px 2px #000000;
	color: #185ADB;
}

.name:hover{
	 

	color: blueviolet;
	 
}
.middle-container{
	padding: 10px 5px; 
	width: auto;
	background-color:lavenderblush;
	
}
hr{
	border-color:grey;
	margin: 10px 40px;
	border-style: dashed;
}
.des
{
	margin-top: 30px;
}
#ppic{

	width: 15%;
	height: 15%;
	animation: bounce;
	animation-timing-function: 10s;
	  animation-duration:5s; /* don't forget to set a duration! */
	  animation-iteration-count:infinite;
}


.bottom-container{
	height: 200px;
	width: 200px;

	top: 400px;
	left: 400px;
	
	
	background-color: blue;
}
